body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 100%;
}
.full{
    width: 100%;
    height: 400px;
    background-image:url(https://placehold.co/1600x400);
    margin-bottom: 20px;
    background-position: 50% 50%;
    background-size: cover;
}
.full p{
    width: 30%;
    position: relative;
    left: 35%;
    top: 50%;
}
.col2{
    width: 94%;
    border: 2px solid red;
    margin: auto;
    padding: 20px;
}
.col2>main{
    width: 60%;
    float: left;
    padding: 10px;
    margin: 0px 20px;
    border: 2px solid blue;
}.col2>aside{
    border: 2px green solid;
    display: inline-block;
    text-align: center;
    width: 30%;
}